{% extends 'registration/base.html' %} {% load bootstrap4 %} {% block content %} {% load static %}
<section class="sign-u" style="border: 1px solid;  height: 100vh; background-image: url('https://images.pexels.com/photos/607812/pexels-photo-607812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 background-position: center; background-repeat: no-repeat; background-size: cover;">
<div class="container" style="margin-top: 7rem;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class=" mt-0">
                   <h3 class="text-center" style="background: #EBECF0; padding: 1rem 0" >Vid share</h3>
                </div>
                <div class="card-body mb-3 mr-3 ml-3">
                    <h6 class="text-center mb-3">Sign up
                    </h6>
                    <form action="" method="post" novalidate>
                        {% csrf_token %} {% bootstrap_form form layout='inline' %}
                        <button type="submit" class="btn btn-primary btn-sm"> Sign up</button>
                    </form>
                </div>
                 <p class="text-center">Have an account? <a href="/login">Log in</a></p>
            </div>


        </div>

        <div class="col-md-4"></div>
    </div>
</div>
    </section>

{% endblock %}
